name: MediaLinker Builder
on:
  workflow_dispatch:
  push:
   branches:
     - main

jobs:
  Docker-build:
    runs-on: ubuntu-latest
    name: Build Docker Image
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set Up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: MediaLinker-ALl
        run: |
          docker buildx build --platform linux/amd64 -t ${{ secrets.DOCKERHUB_USERNAME }}/xsembystrm:latest -f Dockerfile . --push
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
